
        body{
            background-color:chartreuse;
            font-family: "Times New Roman";

        }

        h1:hover,
        h2:hover,
        h3:hover,
        h4:hover,
        h5:hover{
            text-decoration: red;
            font-size: 20px;
        }
        /*Internal css*/
        .styled-button{
            background-color:red;
            color:white;
            cursor:pointer;
            text-decoration: none;
        }
        .styled-button:hover{
            background-color: chartreuse;
        }




